.calc{
    width: 473px;
    height: 642px;
    background-color:blanchedalmond;
    margin-left: 400px;
}
.calc h1{
    position: relative;
    top: 20px;
}
#screen{
    width:98%;
    height: 80px;
    position: relative;
    top: 1px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 42px;
    margin-top: 48px;
}